@font-face {
  font-family: "a";
  font-style: normal;
  font-weight: 400;
  src: url("generated_fonts/heliotrope_3_italic.ttf") format("truetype"); /* Replace with the path to your font file */
}

@font-face {
  font-family: "b";
  font-style: normal;
  font-weight: 400;
  src: url("generated_fonts/heliotrope_3_regular.ttf") format("truetype"); /* Replace with the path to your font file */
}

p {
  margin: 0;
  padding: 20px;
  line-height: 1.6;
  font-size: 20px;
}

.a {
  font-family: "a";
}

.b {
  font-family: "b";
}
