@font-face {
  font-family: "a";
  src: url("generated_fonts/Tribute Roman Gly.ttf") format("truetype");
}

@font-face {
  font-family: "b";
  src: url("generated_fonts/Tribute Roman Italic.ttf") format("truetype");
}

@font-face {
  font-family: "c";
  src: url("generated_fonts/Tribute Roman.ttf") format("truetype");
}

@font-face {
  font-family: "d";
  src: url("test.ttf") format("truetype");
}

p {
  margin: 0;
  padding: 10px;
  line-height: 1.1;
  font-size: 2rem;
  font-family: "b";
  font-variant-ligatures: common-ligatures;
}

.a {
  font-family: "a";
  /* font-style: italic; */
}

.b {
  font-family: "b";

  font-variant-ligatures: common-ligatures;
  font-feature-settings:
    "ligs" 1,
    "clig" 1,
    "dlig" 1,
    "frac" 1;
}

.c {
  font-family: "c";

  font-variant-ligatures: common-ligatures;
  font-feature-settings:
    "ligs" 1,
    "clig" 1,
    "dlig" 1,
    "frac" 1;
}

p.dlig {
  font-feature-settings: "dlig";
}
p.onum {
  font-feature-settings: "onum";
}
p.lnum {
  font-feature-settings: "lnum";
}
p.tnum-onum {
  font-feature-settings: "tnum", "onum";
}
p.tnum-lnum {
  font-feature-settings: "tnum", "lnum";
}
p.sups {
  font-feature-settings: "sups";
}
p.subs {
  font-feature-settings: "subs";
}
p.frac {
  font-feature-settings: "frac";
}

p.d {
  font-family: "d";
}
