@font-face {
  font-family: "a";
  src: url("generated_fonts/Mrs Eaves Basic All Petite Caps.ttf")
    format("truetype");
}

@font-face {
  font-family: "b";
  src: url("generated_fonts/Mrs Eaves Basic Petite Caps.ttf") format("truetype");
}

@font-face {
  font-family: "c";
  src: url("generated_fonts/Mrs Eaves Basic Roman Lining.ttf")
    format("truetype");
}

@font-face {
  font-family: "d";
  src: url("generated_fonts/Mrs Eaves Basic Small All Caps.ttf")
    format("truetype");
}

@font-face {
  font-family: "e";
  src: url("generated_fonts/Mrs Eaves Basic Small Caps.ttf") format("truetype");
}

@font-face {
  font-family: "f";
  src: url("generated_fonts/Mrs Eaves Bold Italic.ttf") format("truetype");
}

@font-face {
  font-family: "g";
  src: url("generated_fonts/Mrs Eaves Bold.ttf") format("truetype");
}

@font-face {
  font-family: "h";
  src: url("generated_fonts/Mrs Eaves Italic.ttf") format("truetype");
}

@font-face {
  font-family: "i";
  src: url("generated_fonts/Mrs Eaves Roman.ttf") format("truetype");
}

p {
  margin: 0;
  padding: 10px;
  line-height: 1.1;
  font-size: 2rem;
}

.a {
  font-family: "a";
}

.b {
  font-family: "b";
}

.c {
  font-family: "c";
}

.d {
  font-family: "d";
}

.e {
  font-family: "e";
}

.f {
  font-family: "f";
}

.g {
  font-family: "g";
}

.h {
  font-family: "h";
}

.i {
  font-family: "i";
}
